beautifulsoup4==4.14.3
dill==0.4.1
google-genai>=0.2.2
google_api_python_client==2.194.0
html5lib==1.1
mss==10.2.0
Pillow==12.2.0
protobuf==7.34.1
pyautogui==0.9.54
pyperclip==1.11.0
pytest==9.0.2
Requests==2.33.1
urllib3==2.6.3
